<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Email Template</title>
</head>

<body style="font-family: sans-serif">
	<div class="wrapper" style="width: 100%; height: 100vh; display: flex">
		<div class="email"
			style="width: 100%; max-width: 728px; background: #fff; margin: auto; border-radius: 10px; overflow: hidden">
			<div class="bg-header" style="
						background: #094899;
						height: 96px;
						background-image: url('https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/bgVector2.svg');
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					"></div>
			<div class="contents-box" style="background: #fbfcfd">
				<div class="inner-box" style="
							width: 85%;
							margin: 0 auto;
							border: 1px solid #e1e4e8;
							background: #fff;
							border-radius: 10px;
							overflow: hidden;
							box-shadow: 0 4px 8px rgba(9, 72, 153, 0.1);
							transform: translateY(-50px);
						">
					<div class="header" style="background: #fbfcfd; padding: 10px; box-sizing: border-box; overflow: hidden">
						<div class="bg" style="
									background: #f2f8fd;
									border: 1px solid #e9f2fe;
									border-radius: 10px;
									padding: 10px 0;
									overflow: hidden;
								">
							<div class="row" style="display: flex">
								<div class="col logo" style="
											display: flex;
											flex-direction: column;
											align-items: center;
											justify-content: center;
											width: 120px;
										">
									<img src="https://airline-logo.s3.ir-thr-at1.arvanstorage.com/nf.png" alt="logo"
										style="display: block; width: 50px" width="50" />

									<div class="content" style="padding-left: 10px; margin-top: 10px">
										<a href="#" target="_blank" style="
													font-family: sans-serif;
													vertical-align: middle;
													font-size: 12px;
													color: #000;
													text-decoration: none;
												">
											<img src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/emailWebsiteIcon.svg"
												alt="icon" style="width: 12px; display: inline; margin-right: 2px" width="12" />
											<b style="font-family: sans-serif">terminal101.co</b>
										</a>
									</div>
								</div>
								<div class="col vector" style="
											display: flex;
											flex-direction: column;
											justify-content: center;
											flex-grow: 1;
											align-items: flex-end;
										">
									<img src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/emailHeaderImg.svg" alt="icon"
										style="height: 100%; max-height: 70px" />
								</div>
							</div>
						</div>
					</div>
					<div class="main" style="padding: 10px">
						<section class="s1">
							<h1 style="
										font-family: sans-serif;
										margin: 0;
										padding: 0;
										display: block;
										font-size: 18px;
										font-weight: bold;
									">
								Lorem ipsum dolor sit amet
							</h1>
							<img src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/emailAirplanFlying.svg" alt="icon"
								style="width: 50%" />
						</section>
						<section class="s2-1" style="
									background-image: url('https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/bgVector.svg');
									background-size: 80%;
									background-repeat: no-repeat;
									background-position: center;
									box-sizing: border-box;
									overflow: hidden;
									padding-bottom: 20px;
								">
							<p style="font-family: sans-serif; margin-bottom: 60px; color: #a3abb5; line-height: 1.6em">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
								laoreet dolore magna aliquam
							</p>
							<div class="confirmationCode" style="
										margin: 0 auto;
										margin-bottom: 10px;
										display: flex;
										justify-content: center;
									">
								<span style="
										border: 1px solid #cfd3d8;
										padding: 20px;
										border-radius: 10px;
										font-family: sans-serif;
										font-size: 30px;
										letter-spacing: 5px;
										font-weight: bold;
										color: #094899;
										margin: auto;
										">{{code}}</span>
							</div>
							<h2 style="margin: auto; text-align: center">Or</h2>
							<div class="confirmationCode" style="
										margin: 0 auto;
										margin-bottom: 60px;
										display: flex;
										justify-content: center;
										">
								<span style="
										border: 1px solid #cfd3d8;
										padding: 20px;
										border-radius: 10px;
										font-family: sans-serif;
										font-size: 30px;
										letter-spacing: 5px;
										font-weight: bold;
										color: #094899;
										margin: auto;
									"><a href="{{link}}">Click</a></span>
							</div>
						</section>
						<section class="s3" style="border-top: 1px solid #f3f6f9">
							<div class="row" style="display: flex">
								<div class="col c1" style="
											width: 50%;
											padding: 10px 0 0;
											box-sizing: border-box;
											display: flex;
											align-items: center;
											justify-content: flex-start;
										">
									<img src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/emailPhoneIcon.svg" alt="icon"
										style="display: block; width: 40px" width="40" />
									<div class="content" style="margin-left: 10px">
										<span style="font-family: sans-serif; color: #a3abb5; display: block; margin-bottom: 5px">Agency
											number</span>
										<a href="tel: +0231456879" target="_blank" style="
													font-family: sans-serif;
													display: block;
													color: #094899;
													font-weight: bold;
													text-decoration: none;
												">+023 145 68 79</a>
									</div>
								</div>
								<div class="col c2" style="
											width: 50%;
											padding: 10px 0 0;
											box-sizing: border-box;
											display: flex;
											align-items: center;
											justify-content: flex-end;
										">
									<a href="#" target="_blank" style="font-family: sans-serif">
										<img src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/emailInstagramIcon.svg"
											alt="icon" style="display: block; width: 40px; margin-left: 10px" width="40" />
									</a>
									<a href="#" target="_blank" style="font-family: sans-serif">
										<img src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/emailFacebookIcon.svg"
											alt="icon" style="display: block; width: 40px; margin-left: 10px" width="40" />
									</a>
									<a href="#" target="_blank" style="font-family: sans-serif">
										<img src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/emailTwitterIcon.svg" alt="icon"
											style="display: block; width: 40px; margin-left: 10px" width="40" />
									</a>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>