<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ticket Info</title>
	</head>
	<body style="font-family: sans-serif">
		<div class="wrapper" style="width: 100%; height: 100vh; display: flex;">
			<div
				class="ticket"
				style="width: 1100px; min-width: 1100px; max-width: 1100px; background: #fff; display: flex; margin: auto"
			>
				<div
					class="full-info"
					style="
						width: calc(100% - 260px);
						border: 1px solid #e1e4e8;
						border-right: none;
						border-radius: 10px;
						border-top-right-radius: 20px;
						border-bottom-right-radius: 20px;
						overflow: hidden;
						box-shadow: inset -4px 3px 8px rgba(9, 72, 153, 0.1);
					"
				>
					<div
						class="header"
						style="background: #fbfcfd; padding: 10px; height: 60px; box-sizing: border-box; overflow: hidden"
					>
						<div class="row" style="display: flex; height: 100%">
							<div class="col logo" style="display: flex; align-items: center; flex-grow: 1">
								<img
									src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/logo.svg"
									alt="logo"
									style="width: 70px"
									width="70"
								/>
							</div>
							<div class="col" style="display: flex; align-items: center; flex-grow: 1">
								<div class="icon" style="width: 26px">
									<img
										src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/emailWebsiteIcon.svg"
										alt="icon"
										style="display: block; width: 100%"
									/>
								</div>
								<div class="content" style="padding-left: 10px">
									<span
										style="font-family: sans-serif; display: block; color: #a3abb5; margin-bottom: 8px; font-size: 12px"
										>Website</span
									>
									<b style="font-family: sans-serif">terminal101.co</b>
								</div>
							</div>
							<div class="col" style="display: flex; align-items: center; flex-grow: 1">
								<div class="icon" style="width: 26px">
									<img
										src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/phoneIcon.svg"
										alt="icon"
										style="display: block; width: 100%"
									/>
								</div>
								<div class="content" style="padding-left: 10px">
									<span
										style="font-family: sans-serif; display: block; color: #a3abb5; margin-bottom: 8px; font-size: 12px"
										>Agency Number</span
									>
									<b style="font-family: sans-serif">0231456879884</b>
								</div>
							</div>
							<div class="col" style="display: flex; align-items: center; flex-grow: 1">
								<div class="icon" style="width: 26px">
									<img
										src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/calendarIcon.svg"
										alt="icon"
										style="display: block; width: 100%"
									/>
								</div>
								<div class="content" style="padding-left: 10px">
									<span
										style="font-family: sans-serif; display: block; color: #a3abb5; margin-bottom: 8px; font-size: 12px"
										>Date of ticket issuance</span
									>
									<b style="font-family: sans-serif">24 Feb 2022</b>
								</div>
							</div>
						</div>
					</div>
					<div
						class="main"
						style="
							height: calc(100% - 60px);
							background-image: url('https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/bgVector.svg');
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center;
							display: flex;
							align-items: stretch;
							flex-wrap: wrap;
							border-top: 1px solid #e1e4e8;
						"
					>
						<section
							class="s1"
							style="
								padding: 20px 0;
								box-sizing: border-box;
								display: flex;
								align-items: center;
								border-right: 1px solid #e1e4e8;
								flex-basis: 50%;
							"
						>
							<div class="col c1" style="padding: 0 10px; box-sizing: border-box; width: 80px; min-width: 80px">
								<img
									src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/airplanTakeoff.svg"
									alt="icon"
									style="display: block; width: 50px; margin: 0 auto"
									width="50"
								/>
							</div>
							<div class="col c2" style="padding: 0 10px; box-sizing: border-box; flex-grow: 1">
								<div style="margin-bottom: 20px">
									<b style="font-family: sans-serif; display: block; margin-bottom: 5px; font-size: 12px"
										>Depart from</b
									>
									<span style="font-family: sans-serif; font-size: 14px">Los Angeles International </span>
									<strong style="font-family: sans-serif; font-size: 14px">(LAX)</strong>
								</div>
								<div>
									<b style="font-family: sans-serif; display: block; margin-bottom: 5px; font-size: 12px">Terminal</b>
									<span style="font-family: sans-serif; font-size: 14px">Not Available</span>
								</div>
							</div>
							<div class="col c3" style="padding: 0 10px; box-sizing: border-box; width: 110px; min-width: 110px">
								<div style="margin-bottom: 20px">
									<b style="font-family: sans-serif; display: block; margin-bottom: 5px; font-size: 12px">Fraiday</b>
									<span style="font-family: sans-serif; font-size: 14px">25 Feb 2022</span>
								</div>
								<div>
									<b style="font-family: sans-serif; display: block; margin-bottom: 5px; font-size: 12px">Time</b>
									<span style="font-family: sans-serif; font-size: 14px">15:05</span>
								</div>
							</div>
						</section>
						<section
							class="s2"
							style="padding: 20px 0; box-sizing: border-box; display: flex; align-items: center; flex-basis: 50%"
						>
							<div class="col c1" style="padding: 0 10px; box-sizing: border-box; width: 80px; min-width: 80px">
								<img
									src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/airplanLanding.svg"
									alt="icon"
									style="display: block; width: 50px; margin: 0 auto"
									width="50"
								/>
							</div>
							<div class="col c2" style="padding: 0 10px; box-sizing: border-box; flex-grow: 1">
								<div style="margin-bottom: 20px">
									<b style="font-family: sans-serif; display: block; margin-bottom: 5px; font-size: 12px">Going to</b>
									<span style="font-family: sans-serif; font-size: 14px">Frankfurt International Airport </span>
									<strong style="font-family: sans-serif; font-size: 14px">(FRA)</strong>
								</div>
								<div>
									<b style="font-family: sans-serif; display: block; margin-bottom: 5px; font-size: 12px">Terminal</b>
									<span style="font-family: sans-serif; font-size: 14px">Not Available</span>
								</div>
							</div>
							<div class="col c3" style="padding: 0 10px; box-sizing: border-box; width: 110px; min-width: 110px">
								<div style="margin-bottom: 20px">
									<b style="font-family: sans-serif; display: block; margin-bottom: 5px; font-size: 12px">Saturday</b>
									<span style="font-family: sans-serif; font-size: 14px">25 Feb 2022</span>
								</div>
								<div>
									<b style="font-family: sans-serif; display: block; margin-bottom: 5px; font-size: 12px">Time</b>
									<span style="font-family: sans-serif; font-size: 14px">15:05</span>
								</div>
							</div>
						</section>
						<section
							class="s3"
							style="
								padding: 20px 0;
								box-sizing: border-box;
								display: flex;
								align-items: center;
								flex-basis: 100%;
								border-top: 1px solid #e1e4e8;
							"
						>
							<div
								class="col c1"
								style="
									padding: 0 10px;
									box-sizing: border-box;
									flex-grow: 1;
									width: 100px;
									max-width: 100px;
									text-align: center;
									margin-right: 20px;
								"
							>
								<img
									src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/icon1.svg"
									alt="icon"
									style="display: block; width: 50px; margin: 0 auto; margin-bottom: 15px"
									width="50"
								/>
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Lufthansa</span
								>
							</div>
							<div class="col c2" style="padding: 0 10px; box-sizing: border-box; flex-grow: 1">
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Class Of Service:</span
								>
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Plane:</span
								>
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Meals:</span
								>
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px">Seat:</span>
							</div>
							<div class="col c3" style="padding: 0 10px; box-sizing: border-box; flex-grow: 1">
								<b style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px">Economy</b>
								<b style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Airnus A318/321</b
								>
								<b style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px">Meal</b>
								<b style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Check-in required</b
								>
							</div>
							<div class="col c4" style="padding: 0 10px; box-sizing: border-box; flex-grow: 1">
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Status:</span
								>
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Duratoin:</span
								>
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Fllight number:</span
								>
								<span style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px"
									>Airline Code:</span
								>
							</div>
							<div class="col c5" style="padding: 0 10px; box-sizing: border-box; flex-grow: 1">
								<b style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px">Confirmed</b>
								<b style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px">2H 45M</b>
								<b style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px">TG-2310</b>
								<b style="font-family: sans-serif; display: block; margin-bottom: 15px; font-size: 14px">KSUBCI</b>
							</div>
						</section>
					</div>
				</div>

				<div
					class="summary-info"
					style="
						width: 260px;
						border-radius: 10px;
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
						overflow: hidden;
						border: 1px solid #e1e4e8;
						border-left: 2px dashed #e1e4e8;
						position: relative;
					"
				>
					<div
						class="header"
						style="
							background: #094899;
							height: 60px;
							box-sizing: border-box;
							overflow: hidden;
							display: flex;
							justify-content: center;
							padding: 10px 15px;
						"
					>
						<div class="icon" style="width: 30px">
							<img
								src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/passangerIcon.svg"
								alt="icon"
								style="width: 100%"
							/>
						</div>
						<div class="content" style="flex-grow: 1; padding-left: 10px">
							<div style="margin-bottom: 3px">
								<span style="font-family: sans-serif; color: #fff; font-size: 14px">Passengers:</span>
								<b style="font-family: sans-serif; color: #fff; font-size: 14px">Adult</b>
							</div>
							<div>
								<span style="font-family: sans-serif; color: #fff; font-size: 14px">Mr. Jeff Bezos</span>
							</div>
						</div>
					</div>

					<div class="main" style="padding: 10px; box-sizing: border-box">
						<div class="content">
							<div style="margin-bottom: 10px">
								<span style="font-family: sans-serif; font-size: 14px">Birthday:</span>
								<b style="font-family: sans-serif; font-size: 14px">19 jan 1940</b>
							</div>
							<div style="margin-bottom: 10px">
								<span style="font-family: sans-serif; font-size: 14px">Reservation number:</span>
								<b style="font-family: sans-serif; font-size: 14px">126wfb</b>
							</div>
							<div style="margin-bottom: 10px">
								<span style="font-family: sans-serif; font-size: 14px">Fllight number:</span>
								<b style="font-family: sans-serif; font-size: 14px">TG-2310</b>
							</div>
						</div>
						<div class="stamp">
							<img
								class="stampImg"
								src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/stamp.svg"
								alt="stamp"
								style="position: absolute; width: 100px; bottom: 20px; right: 15px; z-index: 1"
								width="100"
							/>
							<img
								class="barCodeImg"
								src="https://terminal101-static.s3.ir-thr-at1.arvanstorage.com/barCode.svg"
								alt="barCode"
								style="position: absolute; width: 90%; bottom: 20px; left: 5%; z-index: 0"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
